/**************************************************************
===============================================================
  ## PROJECT NAME
  ## Liam R (hello@liamr.com)
  ## 2014/03/25
===============================================================
**************************************************************/

@import "foundation/settings";  

/*
===============================================================
  ## VARS
===============================================================
*/

$brand-green: #00dca3;
$brand-pink: #c20437;
$brand-yellow: #cee406;
$brand-blue: #3180fd;
$brand-orange: #f1b602;

$font-normal: 'AvantGardeGothicITCW01X';
$font-medium: 'AvantGardeGothicITCW01B 731069';
$font-bold: 'AvantGardeGothicITCW01D 731075';

/*
===============================================================
  ## FOUNDATION 5 
===============================================================
*/

// Grid

 $row-width: rem-calc(1000);
 $column-gutter: rem-calc(30);
 $total-columns: 12;

// We use these to control various global styles
 $body-bg: #FFB900;
 $body-font-color: #222;
 $body-font-family: "AvantGardeGothicITCW01B 731069", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 $body-font-weight: normal;
 $body-font-style: normal;

// We use this to control font-smoothing
 $font-smoothing: antialiased;

// We use these as default colors throughout
 $primary-color: #008CBA;
 $secondary-color: #e7e7e7;
 $alert-color: #f04124;
 $success-color: #43AC6A;
 $warning-color: #f08a24;
 $info-color: #a0d3e8;

// We use these to make sure border radius matches unless we want it different.
 $global-radius: 3px;
 $global-rounded: 1000px;

// We use these to control inset shadow shiny edges and depressions.
 $shiny-edge-size: 0 1px 0;
 $shiny-edge-color: rgba(#fff, .5);
 $shiny-edge-active-color: rgba(#000, .2);

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

// $screen: "only screen";

// $landscape: "#{$screen} and (orientation: landscape)";
// $portrait: "#{$screen} and (orientation: portrait)";

// $small-up: $screen;
// $small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

// $medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
// $medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

// $large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
// $large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

// $xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
// $xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

// $xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
// $xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
// $small: $medium-up;
// $medium: $medium-up;
// $large: $large-up;

//
// TYPOGRAPHY
//

// We use these to control header font styles
$header-font-family: $body-font-family;
$header-font-weight: 300;
$header-font-style: normal;
$header-font-color: #404248;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(30);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

//These control how subheaders are styled.
$subheader-line-height: 1.4;
$subheader-font-color: #404248;
$subheader-font-weight: 300;
$subheader-top-margin: .2rem;
$subheader-bottom-margin: .5rem;

// A general <small> styling
// $small-font-size: 60%;
// $small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style paragraphs
// $paragraph-font-family: inherit;
// $paragraph-font-weight: normal;
 $paragraph-font-size: 1.15rem;
// $paragraph-line-height: 1.6;
// $paragraph-margin-bottom: rem-calc(20);
// $paragraph-aside-font-size: rem-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
// $code-color: scale-color($alert-color, $lightness: -27%);
// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
// $code-font-weight: bold;

// We use these to style anchors
// $anchor-text-decoration: none;
 $anchor-font-color: #404248;
// $anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

// We use these to style the <hr> element
// $hr-border-width: 1px;
// $hr-border-style: solid;
// $hr-border-color: #ddd;
// $hr-margin: rem-calc(20);

// We use these to style lists
// $list-style-position: outside;
// $list-side-margin: 1.1rem;
// $list-ordered-side-margin: 1.4rem;
// $list-side-margin-no-bullet: 0;
// $list-nested-margin: rem-calc(20);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3rem;
// $definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
// $blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
// $blockquote-padding: rem-calc(9 20 0 19);
// $blockquote-border: 1px solid #ddd;
// $blockquote-cite-font-size: rem-calc(13);
// $blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
// $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
// $acronym-underline: 1px dotted #ddd;

// We use these to control padding and margin
// $microformat-padding: rem-calc(10 12);
// $microformat-margin: rem-calc(0 0 20 0);

// We use these to control the border styles
// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: #ddd;

// We use these to control full name font styles
// $microformat-fullname-font-weight: bold;
// $microformat-fullname-font-size: rem-calc(15);

// We use this to control the summary font styles
// $microformat-summary-font-weight: bold;

// We use this to control abbr padding
// $microformat-abbr-padding: rem-calc(0 1);

// We use this to control abbr font styles
// $microformat-abbr-font-weight: bold;
// $microformat-abbr-font-decoration: none;

// Block Grid

// $include-html-grid-classes: $include-html-classes;

// We use this to control the maximum number of block grid elements per row
// $block-grid-elements: 12;
// $block-grid-default-spacing: rem-calc(20);

// Enables media queries for block-grid classes. Set to false if writing semantic HTML.
// $block-grid-media-queries: true;

/*
===============================================================
  ## INCLUDES
===============================================================
*/   
@import "normalize";
//@import "bourbon/bourbon";

// Make sure the charset is set appropriately
@charset "UTF-8";  

/*
===============================================================
  ## MIXINS
===============================================================
*/

@import "mixins"; 

// Behold, here are all the Foundation components.
@import
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

@import "vendor/royal";

@import "vendor/preeloader";





/*
===============================================================
  ## GENERAL
===============================================================
*/



/*
===============================================================
  ## PARTIALS
===============================================================
*/
nav.main {
  width: 100%;
  top: 0;
  background: #fff;
  position: relative;
  text-align: center;
  @include clearfix();
  z-index: 101;
  background-color: #95a09f;
  ul {
    list-style: none;
    margin: 2rem 0;
    padding:0; 
    li {
      display: inline-block;
      margin: 0 0.4rem;
      a {
         
      }
    }
  }
}

footer.main {
  text-align: center;
  background: #FFB900;
  p {
    font-size: 0.75rem;
    margin-bottom: 0;

  }
  .back-to-top-btn {
    display: block;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: $font-bold; 
  }
}


/*
===============================================================
  ## PAGRES
===============================================================
*/

.page {
  position: relative;
  ul.page-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &.fixed {
    ul.page-list,
    ul.page-list li.sub-page {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    li.sub-page > .row {
      @include valign();
      width: 100%;
      left: 0;
      right: 0;
    }
    li.sub-page {
      ul.project-gallery-list {
        position: absolute;
        right: 0;
        left: 0;
        height: 700px;
        @include valign();
      }
    }
  }
}

li.sub-page {
  text-align: center;
  padding: 6rem 0;
  position: relative;
  h1 {

  }
  h2 {
    font-family: 'AvantGardeGothicITCW01D 731075';
    margin-top:1.5rem; margin-bottom:0rem
  }
  ul.page-list {
    
  }
  &.home {
    background: #95a09f;
    h1 {
      margin-top: 4rem;
    }
  }
  &.projects {
    background: #f0f0f0;
    h2.title {
      margin-bottom: 2rem;
    }
    ul.project-list {
      list-style: none;
      margin: 0;
      li.project {
        margin-bottom: 3rem;
        h2 {
          margin-top: 2rem;
          margin-bottom: 0.7rem;

        }
        a {
          font-family: $font-medium; 
        }
      }
    }
  }
  &.projects-gallery {
    display: none;
    @include clearfix();
    ul.project-gallery-list {
      list-style: none;
      margin: 0;
      &.show {

      }
      li.project-slide {
        margin-bottom: 2rem;
        .next-project {
          margin-top: 3rem;
        }
        h2 {
          &.title {
            margin-bottom: 2rem;
          }
        }

      }
    }
  }
  &.people {
    background: #e6e6e6;
    ul.person-list {
      margin: 0;
      padding:0;
      list-style: none;
      li {
        margin-bottom: 3rem;
      }
    }
  }
  &.contact {
    background: #ffb900;
  }
}

@media #{$small} {

  li.sub-page {
    padding: 9rem 0;
    h2 {
      font-size: 1.15rem;
      &.title {
        margin-bottom: 5rem;
      }
    }
    &.home {
      img {
        width: 310px;
        height: 110px;
      }
    }
    &.projects {
      h2.title {
        margin-bottom: 5rem;
      }
    }
  }

  footer.main {
    padding-bottom: 2rem;
    p {
      font-size: 0.9rem;

    }
  }

}

body.desktop {
  background-color: #95a09f;
  .wrap {
    margin-top: rem-calc(94);
  }


  nav.main {
    position: fixed;
    background-color: rgba(149,160,159, 0.7);
  }

  nav.main {
    background-color: #95a09f;
  }

  footer.main {
    background: none
  }

  &[bg-colour],
  &[bg-colour] nav.main{
    @include transition(background-color, 0.4s, ease-in-out);

  }
  &[bg-colour=blue] {
    background-color: #95a09f;
  }
  &[bg-colour=blue] nav.main{
    background-color: rgba(149,160,159, 0.7);
  }
  &[bg-colour=green] {
    background-color: #e6e6e6;
  }

  &[bg-colour=green] nav.main{
    background-color: rgba(230, 230, 230, 0.7);
  }
  &[bg-colour=white] {
    background-color: #fff;
  }
  &[bg-colour=white] nav.main{
    background-color: rgba(255, 255, 255, 0.7);
  }
  &[bg-colour=contact] {
    background-color: #ffb900;
  }
  &[bg-colour=contact] nav.main{
    background-color: rgba(255,185,0   , 0.7);
  }



  li.sub-page {
    padding: 9rem 0;
    background: none !important;
    h2 {
      font-size: 1.15rem;
      &.title {
        margin-bottom: 5rem;
      }
    }
    &.home {
      img {
        margin-bottom: 5rem;
      }
      > .row {
        top: 37% !important;
      }
    }
    &.projects {

    }
    &.projects-gallery {
      .project-navigation {
        margin-top: 370px;
      }
      ul.project-gallery-list {

        li.project-slide {
          display: inline-block;
          margin-left: 50px;
          margin-right: 50px;

          h2.title {
            margin-top: 0;
            margin-bottom: 0.3rem;
          }
          .details {
            text-align: left;
            margin-top: 0rem;
          }
        }
      }
    }
  }

  

}

@media #{$large} {

  footer.main {
    padding-bottom: 2rem;
    p {
      font-size: 0.8rem !important;
      margin-bottom: 0;

    }
    .co {
      float: left;
    }
    .credit {
      float: right;
    }
    .back-to-top-btn {
      display: block;
      font-size: 0.8rem;
      margin-top: 0;
      margin-bottom: 0;
      font-family: $font-bold; 
    }
  }
  
}





